.idea
*.pyc
.DS_Store
invoicenet/acp/data/
invoicenet/parsing/data/
models/*
!models/parsers
*/__pycache__/*
env/
data/
predictions/
processed_data/
invoices/
**/*.pdf
**/*.json

**/.vscode/
*.swp
**/*.egg-info/
venv*/
build/